@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

body {
    background: #2c3e50;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.login-container {
    width: 400px;
    padding: 40px;
    border-radius: 5px;
    background-color: #34495e;
}

.input-textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #bdc3c7;
}

.input-textbox svg {
    width: 26px;
    float: left;
    text-align: center;
}

.input-textbox input {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float:left;
    margin: 0 10px;
    letter-spacing: 1px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #bdc3c7;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.redirect {
    color: #bdc3c7;
    font-size: 14px;
    float: right;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #d35400;
}

.tnytxt {
    position: relative;
    font-size: 14px;
    top: -5px;
    cursor: pointer;
}

.alert-container {
    width: 400px;
}

.alert {
    overflow: hidden;
    width: 100%;
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #34495e;
}

.alert-success {
    background-color: darkgreen;
}

.alert svg {
    width: 26px;
    float: left;
    text-align: center;
}

.alert-textbox {
    font-size: 15px;
    color: white;
    float: left;
    width: 80%;
    margin: 5px 10px 0;
}