@import url('https://fonts.googleapis.com/css?family=Questrial');

:root {
    --link-color: #bdc3c7;
    --link-hover-color: #d35400;
    --menu-background-color: #2c3e50;
    --content-background-color: #34495e;
    --active-color: #27ae60;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

html,
body,
.container,
.content-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    background: var(--menu-background-color);
}

.menu-wrap a {
    color: var(--link-color);
}

.menu-wrap .active {
    color: var(--active-color);
}

.menu-wrap a:hover:not(.active),
.menu-wrap a:focus:not(.active) {
    color: var(--link-hover-color);
}

.content-wrap {
    /* overflow-y: scroll;
    -webkit-overflow-scrolling: touch; */
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    background: var(--content-background-color);
}

.content {
    position: relative;
    padding: 5em 0 0 5em;
    width: 100%;
    height: 100%;
}

.content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
}

.menu-button {
    color: var(--link-color);
    position: fixed;
    z-index: 1000;
    margin:1em;
    width: 2.5em;
    height: 2.5em;
    border: none;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.menu-button:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

.menu-wrap {
    position: absolute;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opactity 1s;
}

.menu-top {
    line-height: 58px;
}

.menu-top .profile {
    display: inline-block;
    padding: 8px 10px;
    line-height: 42px;
    color: var(--link-color);
}

.menu-top .profile,
.menu-side {
    width: 300px;
}

.menu-top .profile img {
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 1em;
}

.menu-top .profile svg {
    float: right;
    padding: 13px 15px;
}

.menu-top .profile:hover {
    cursor: pointer;
}

.menu-top .profile:hover svg {
    color: var(--link-hover-color);
}

.menu-top .profile:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--menu-background-color);
    left: 260px;
    top: 45px;
    transform: rotate(45deg);
}

.icon-list {
    display: inline-block;
    font-size: 1.25em;
}

.icon-list a {
    margin: 0 1em 0 0;
    padding: 0;
}

.menu-side #profileOptions {
    background-color: #472c50;
}

@media screen and (max-width: 32em) {
    .icon-list {
        padding-left: 1em;
    }
}

.menu-side a {
    display: block;
    padding: 1.2em;
    text-decoration: none;
}

.menu-side a:not(#logout) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.show-menu .menu-wrap {
    opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
    -webkit-transform: translate3d(300px,60px,0);
    transform: translate3d(300px,60px,0);
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.profile-settings {
    background-color: var(--menu-background-color);
    width: 600px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}

.profile-settings img {
    float: left;
    width: 100px;
    height: auto;
}

.profile-settings .text-display {
    color: white;
    padding-left: 20px;
    overflow: hidden;
    width: 75%;
}

.text-display h4 {
    margin-bottom: 5px;
}

.text-display span {
    margin-left: 5px;
    line-height: 17px;
}

.profile-settings .btn {
    border: none;
    background: none;
    outline: none;
    color: white;
    background-color: #27ae60;
    border-radius: 3px;
    padding: 10px 8px;
    margin: 5px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
}

.profile-settings .btn:hover {
    background-color: rgba(39, 174, 96, 0.8);
    cursor: pointer;
}

.profile-settings .input-textbox {
    width: 75%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0 8px 5px;
    border-bottom: 1px solid #bdc3c7;
}

.profile-settings .input-textbox h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-settings .input-textbox input {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float:left;
    margin: 0 10px;
    letter-spacing: 1px;
}

.profile-settings .editToggle {
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
}